@use "abstracts/index" as *;

.containerBannerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  height: 235px;
  .bannerLeft {
    width: 66%;
    height: 100%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    margin-right: 5px;
  }
  .bannerRight {
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    img {
      width: 100%;
      height: 50%;
    }
    .bannerRightBottom {
      margin-top: 5px;
    }
  }
}
@media (max-width: 800px) {
  .containerBanner {
    display: none;
  }
}

.navigations {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.navigation {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;

  &.active {
    background: #555;
  }
}
