@use "abstracts/index" as *;

.containerBannerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  height: 235px;
  .bannerLeft {
    width: 66%;
    height: 100%;
    position: relative;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }
    margin-right: 5px;
  }
  .bannerRight {
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    img {
      width: 100%;
      height: 50%;
      cursor: pointer;
    }
    .bannerRightBottom {
      margin-top: 5px;
    }
  }
}
@media (max-width: 800px) {
  .containerBanner {
    display: none;
  }
}

.navigations {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.navigation {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;

  &.active {
    background: #555;
  }
}
.containerBannerBottom {
  padding: 0 50px;
}

.containerBannerBottomWrapper {
  display: flex;
  align-items: start;
  padding: 10px 70px;
  justify-content: space-between;
  .containerBannerDivImg {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: 300ms;
    img {
      width: 45%;
      margin-bottom: 10px;
    }
    p {
      font-size: 13px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
}
