@use "abstracts/index" as *;

.textItem {
  color: $textDefault;
}
.detailProductLeftImg {
  width: 100%;
}
.detailProductLeftImg img {
  width: 100%;
}
.detailProductLeftSmall {
  display: flex;
}
.detailProductLeftSmall img {
  width: 20%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
.detailProductLeftSmall img:hover {
  border: 1px solid rgb(241, 74, 74);
}

@media (max-width: 1024px) {
  .detailProductLeftSmall {
    display: block;
  }
}

.navigations {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navigation {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;

  &.active {
    background: #555;
  }
}
