@use "abstracts/index" as *;

.containerCategories {
  padding: 20px 10px;
  transition-duration: 300ms;
}

.titleCategories {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 10px;
  a {
    color: $textDefault;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    line-height: 30px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: $borderColor;
    padding: 10px 0;
    div {
      display: flex;
      align-items: center;
      margin-right: 10px;
      margin-bottom: 2px;
    }
  }
}

.categoryDiv {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 20px;
  cursor: pointer;
  a {
    position: relative;
    padding: 10px 15px;
    white-space: nowrap;
    font-size: 14px;
    text-decoration: none;
    color: $textDefault;
    display: flex;
    align-items: center;
    cursor: pointer;
    label {
      cursor: pointer;
    }
  }
  a:hover {
    color: $redColor;
    fill: $redColor;
  }
}
.categoryDivSelect {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 20px;  
  cursor: pointer;
  a {
    position: relative;
    padding: 10px 15px;
    white-space: nowrap;
    font-size: 14px;
    text-decoration: none;
    color: $textDefault;
    color: $redColor;
    fill: $redColor;
    cursor: pointer;

    label {
      cursor: pointer;
    }
  }
  .categoryName {
    cursor: pointer;
  }
}
.showCategories {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  padding: 10px;
}
.showCategories:hover {
  color: $redColor;
}

.arrowRightCategories {
  width: 7px;
  height: 7px;
  fill: red;
}
.listCategories {
  li {
    list-style: none;
  }
  ul {
    li {
      color: $textDefault;
      text-transform: capitalize;
      text-align: left;
      &:hover {
        color: $redColor;
      }
    }
  }
  ul {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
}
.listCategories input[type="checkbox"]:checked ~ ul {
  max-height: 300px;
}
.listCategoriesDetail {
  list-style: none;
  margin: 0px;
  li {
    color: $textDefault;
    text-transform: capitalize;
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
    margin: 15px 0;
    cursor: pointer;
    &:hover {
      color: $redColor;
    }
  }
  .activeDetailCategory {
    color: $redColor;
  }
}
