$textDefault: black;
$primary: #ff4807;
$buttonMessage : #00c2a9;
$grayColor : $grayColor;
$whiteColor : white;
$redColor : red;
$blueColor : blue;
$priceWrap : $whiteColor2ee;
$borderColor : rgba(128, 128, 128, 0.24);
$bgColor : #efefef;
$pinkColer : rgb(245, 185, 185);
$yellowColor : rgb(248, 177, 46);