$textDefault: black;
$textTitleGray: #555;
$textDescriptionGray: #555;
$textGray: gray;
$primary: #52b9bb;
$buttonMessage: #00c2a9;
$grayColor: rgba(29, 25, 25, 0.39);
$whiteColor: white;
$redColor: red;
$blueColor: blue;
$priceWrap: #fff2ee;
$borderColor: rgba(128, 128, 128, 0.24);
$borderColorGray: rgba(128, 128, 128, 0.13);
$bgColor: #efefef;
$pinkColor: rgb(245, 185, 185);
$yellowColor: rgb(248, 177, 46);
$hoverDataProducts: rgba(210, 205, 205, 0.2);
$titleShowProducts: #e7e3e38a;
$backgroundGray: #f5f5f5;
$greenPrimary: #00ad9c;
