@use "abstracts/index" as *;

.textItem {
  color: $textDefault;
}

.header {
  height: auto;
  padding: 0px 56px 5px;
  background-color: $primary;
}
.headerTop {
  display: flex;
  justify-content: end;
}
.divTagTop {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: $whiteColor;
  margin: 0px 10px;
}
.divTagTop:hover {
  opacity: 0.9;
}
.divTagTopA:hover {
  text-decoration: none;
  cursor: pointer;
  display: flex;
}
.divTagTopA {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divTagTopIcon {
  width: 18px;
  color: $whiteColor;
}
.divTagTopATitle {
  font-size: 14px;
  color: $whiteColor;
  margin: 0px 6px;
}
.headerBottom {
  display: flex;
  margin: 10px 40px 0 40px;
  align-items: center;
}
.headerBottomLeft {
  width: 60%;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  overflow: hidden;
}
.headerBottomLogo {
  width: 20%;
  display: flex;
  align-items: start;
}
.headerBottomLogoDiv {
  height: 90px;
  width: 170px;
  fill: $whiteColor;
}

.headerBottomRight {
  width: 20%;
}
.divInput {
  width: 100%;
  position: relative;
}
.input {
  width: 100%;
  padding: 15px;
  font-size: 15px;
  border-radius: 2px;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.inputIcon {
  padding: 8px 20px;
  background-color: $redColor;
  cursor: pointer;
  width: 20px;
  border-radius: 2px;
  position: absolute;
  top: 3px;
  right: 5px;
  color: $whiteColor;
}
.list {
  margin: 9px 15px 12px 0px;
  list-style: none;
  font-size: 14px;
  color: $whiteColor;
  cursor: pointer;
}
.list a {
  color: $whiteColor;
  cursor: pointer;
  text-decoration: none;
  $whiteColor-space: nowrap;
}
.headerBottomRightIcon {
  color: $whiteColor;
  cursor: pointer;
  width: 80px;
}

.contaiter {
  height: auto;
  padding: 20px 56px;
}
.divItem {
  box-sizing: border-box;
  height: max-content;
  border: 1px solid transparent;
  width: 100%;
  border-radius: 2px;
  transition-duration: 100ms;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.divItemWrapper:hover .divItemHover {
  display: block;
  z-index: 2;
}

.divItemHover {
  position: absolute;
  display: none;
  transform: translateY(100%);
  bottom: 0;
  color: $whiteColor;
  width: 100%;
  padding: 5px 0px;
  background-color: $primary;
  font-size: 13px;
  box-sizing: border-box;
  cursor: pointer;
}

.divItemWrapper {
  padding: 0 7px;
  width: 16.6%;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
}
.divItemWrapperHover {
  position: relative;
}
.divImg {
  width: 100%;
  position: relative;
  border-radius: 2px;
  cursor: pointer;
}
.divItem:hover {
  border: 1px solid $redColor;
  cursor: pointer;
  border-radius: 2px;
}
.img {
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.divItemSaleOff {
  position: absolute;
  color: $redColor;
  padding: 2px;
  background-color: $pinkColer ;
  top: 2px;
  right: 3px;
  font-size: 12px;
}
.logoVoucher {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 4px;
}
.divItemTitle {
  font-size: 13px;
  text-align: left;
  padding: 4px 10px 0 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.voucher {
  color: $whiteColor;
  padding: 2px 4px;
  background-color: $yellowColor;
  width: fit-content;
  font-size: 12px;
  margin: 10px 0px 10px 10px;
}
.voucherHidden {
  color: $whiteColor;
  padding: 2px 4px;
  width: fit-content;
  font-size: 12px;
  background-color: $yellowColor;
  margin: 10px 0px 10px 10px;
  visibility: hidden;
}
.price {
  color: $redColor;
  text-align: left;
  font-size: 14px;
  margin-left: 10px;
  padding: 10px 0;
}
.headerWrapper {
  display: flex;
  flex-wrap: wrap;
}
.iconPrice {
  font-size: 12px;
  margin-right: 5px;
}

@media (max-width: 1024px) {
  .divItemWrapper {
    padding: 0 7px;
    width: 25%;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
  }
  .contaiter {
    padding: 20px 15px;
  }
}

@media (max-width: 800px) {
  .divItemWrapper {
    padding: 0 7px;
    width: 50%;
    margin-bottom: 20px;
    position: relative;
  }
 .divItemTitle {
  font-size: 16px;
 }
 .price {
  font-size: 16px;
 }
 
}
// detailProducts




.detailProductContainer {
  margin: 20px 64px;
  padding: 20px;
  display: flex;
  justify-content: start;
  background-color: $whiteColor;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.detailProductLeft {
  width: 40%;
}

.detailProductRight {
  width: 60%;
  padding-left: 20px;
}
.detailProductLeftImg {
  width: 100%;
}
.detailProductLeftSmall {
  display: flex;
}
.detailProductLeftSmall img {
  width: 20%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.detailProductLeftSmall img:hover {
  border: 1px solid rgb(241, 74, 74);
}

.detailProductLeftBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 0 20px;
  font-size: 15px;
}
.detailProductLeftBottomFavourite {
  display: flex;
  align-items: center;
}
.detailProductLeftBottomFavourite span {
  margin-left: 10px;
}
.detailProductLeftBottomShareIcon {
  background-position-y:-100% ;
  background-color: initial;
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/12f585f9c56d4f30.png);
  background-size: 100%;
  border: 0;
  height: 25px;
  margin-left: 5px;
  outline: 0;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 25px;
}
.detailProductLeftBottomShareIcon2 {
  background-color: initial;
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/12f585f9c56d4f30.png);
  background-size: 100%;
  border: 0;
  height: 25px;
  margin-left: 5px;
  outline: 0;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 25px;
}
.detailProductLeftBottomShareIcon3 {
  background-position-y:-300% ;
  background-color: initial;
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/12f585f9c56d4f30.png);
  background-size: 100%;
  border: 0;
  height: 25px;
  margin-left: 5px;
  outline: 0;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 25px;
}
.detailProductLeftBottomShareIcon4 {
  background-position-y:-400% ;
  background-color: initial;
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/12f585f9c56d4f30.png);
  background-size: 100%;
  border: 0;
  height: 25px;
  margin-left: 5px;
  outline: 0;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 25px;
}
.detailProductLeftBottomShare {
  display: flex;
  align-items: center;
}
.detailProductRightTitleProduct {
  font-size: 18px;
  text-align: left;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.detailProductRightInfomation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  font-size: 15px;
}
.detailProductRightInfomationLeft {
  display: flex;
}
.detailProductFeedback {
  display: flex;
  margin: 0 10px;
  border-right-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-color: $grayColor;
  border-style: solid;
  padding-right: 10px;
}
.detailProductFeedback p {
  margin: 0;
  color: $grayColor;
  margin-left: 5px;
}
.detailProductSaler {
  display: flex;
  margin: 0 10px;
}
.detailProductSaler p {
  margin: 0;
  color: $grayColor;
  margin-left: 5px;
}
.detailProductStars {
  display: flex;
  align-items: center;
  margin: 0 10px;
  border-right-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-color: $grayColor;
  border-style: solid;
  padding-right: 10px;
}
.detailProductStars span {
  margin-right: 10px;
  text-decoration: underline;
}
.detailProductRightInfomationRight {
  color: $grayColor;
}
.detailProductStar {
  display: flex;
  align-items: center;
}
.detailProductPrice {
  display: flex;
  align-items: center;
  background-color: $whiteColor;
  padding: 30px;
  font-size: 28px;
  color: $primary;
  margin-bottom: 40px;
}

.detailProductPriceNew {
  display: flex;
  align-items: start;
}
.detailProductPriceNew span {
  font-size: 15px;
}
.detailProductPriceOld {
  display: flex;
  align-items: start;
  color: $grayColor;
  font-size: 20px;
  text-decoration: line-through;
  margin: 0 20px;
}
.detailProductPriceOld span {
  font-size: 15px;
 
}
.detailProductPriceDiscount {
  background-color: $whiteColor;
  padding: 4px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  
}
.detailProductTitle {
  font-size: 14px;
  padding-left: 40px;
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.detailProductTitleShip {
  font-size: 14px;
  padding-left: 40px;
  margin: 20px 0;
  display: flex;
  align-items: start;
}
.detailProductRightTitle {
  color: $grayColor;
  font-size: 14px;
  margin-right: 20px;
  max-width: 100px;
  letter-spacing: 0em;
}
.detailProductVoucherdetail {
    color: $primary;
    background-color: $whiteColor;
    padding: 4px 6px;
    font-size: 13px;
    margin: 0 10px ;
    position: relative;
}
.detailProductVoucherdetail::before {
  background-image: radial-gradient($whiteColor 2px, transparent 0);
  background-position-x: -6px;
  background-size: 6px 6px;
  content: "";
  height: calc(100% - 5px);
  position: absolute;
  top: 2.5px;
  width: 6px;
  left: -3px;
}
.detailProductVoucherdetail::after {
  background-image: radial-gradient($whiteColor 2px, transparent 0);
  background-position-x: -6px;
  background-size: 6px 6px;
  content: "";
  height: calc(100% - 5px);
  position: absolute;
  top: 2.5px;
  width: 6px;
  right:-3px;
}
.detailProductRefund img {
  width: 20px;
  margin-right:5px;
}
.detailProductRefund {
  display: flex;
  align-items: center;
  color: $grayColor;
}
.detailProductRefundFreeIcon {
  display: flex;
  align-items: center;
  margin: 0 5px;
}
.detailProductRefundFree {
  color: $grayColor;
  margin-left: 10px;
}
.detailProductRightVoucher {
  color: $primary;
  padding: 4px;
  border: 1px solid $primary ;
  font-size: 13px;
  cursor: pointer;
}
.detailProductShipTop {
  display: flex;
  align-items: center;
}

.detailProductShipTop img {
  width: 25px;
  margin-right: 10px;
}
.detailProductShipTop span {
  font-size: 13px;
}
.detailProductShipBottom {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 13px;
}
.detailProductShipBottom img {
  width: 20px;
  margin-right: 15px;
}
.detailProductShipBottom span {
  margin-right: 10px;
}

.detailProductShipBottom  select {
  outline: none;
  border: none;
}
.detailProductShipBot {
  text-align: left;
  font-size: 13px;
}
.detailProductShipBot span {
  margin-left: 35px;
  margin-right: 10px;
}
.detailProductShipBot select {
  outline: none;
  border: none;
  letter-spacing: 1px;
}

.detailProductAmount {
  color: $grayColor;
  font-size: 13px;
  margin: 0px 20px;
}
.detailProductDivAmount {
  display: flex;
  align-items: center;
}
.detailProductDivAmount button{
  width: 32px;
  height: 32px;
  outline: none;  
  padding: 0px 10px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(0, 0, 0, .09);
  cursor: pointer;
}
.detailProductDivAmount input {
  width: 50px;
  height: 30px;
  padding: 0px ;
  border: 1px solid rgba(0, 0, 0, .09);;
  text-align: center  ;
  outline: none;
}

.detailProductTitleButton {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 40px;
  margin-top: 50px;
}
.detailProductTitleButtonRightTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 2px;
  cursor: pointer;
  color: $primary;
  border: 1px solid $primary;
  background-color: rgba(255, 87, 34, .1);
  margin-right: 10px;
  font-size: 14px;
}
.detailProductTitleButtonRightTitle img {
  width: 20px;
  margin-right: 10px;
}
.detailProductBuy {
  padding: 10px 50px;
  border-radius: 2px;
  background-color: $primary;
  color: $whiteColor;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}


@media (max-width: 1024px) {
 .detailProductLeftBottom {
  margin: 20px 0 ;
  padding: 0px;
  font-size: 12px;
  width: 100%;

 }
 .detailProductLeftBottomFavourite {
  justify-content: end;
  font-size: 11px;
  margin-top: 20px;
 }

 .detailProductLeftBottomShareIcon {
  height: 18px;
  width: 18px;
 }
 .detailProductLeftBottomShareIcon2 {
  width: 18px;
  height: 18px;
 }
 .detailProductLeftBottomShareIcon3 {
  width: 18px;
  height: 18px;
 }
 .detailProductLeftBottomShareIcon4 {
  width: 18px;
  height: 18px;
 }
 .detailProductLeftBottom {
  flex-direction: column;
 }
 .detailProductRightTitleProduct {
  font-size: 14px;
 }
 .detailProductRightInfomation {
  font-size: 10px;
 }
 .detailProductRightTitle {
  font-size: 11px;
  text-align: left;
 }
 .detailProductTitle {
  margin: 10px 0;
 }
 .detailProductPrice {
  margin-bottom: 20px;
 }
 .detailProductRefund ,.detailProductRefundFree {
  font-size: 12px;
 }
 .detailProductRightVoucher {
  font-size: 11px;
 }
 .detailProductShipTop span , .detailProductShipBottom span ,.detailProductShipBot span {
  font-size: 11px;
 }
 .detailProductShipBottom select ,.detailProductShipBot select {
  font-size: 11px;
 }
}

// Mobile Detail

.containerDetail {
  box-sizing: bord    er-box;
}
.headerWrap {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
.headerWrapLeft {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  padding-left: 15px;
}
.headerWrapMiddle {
  flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 18px;
  padding: 0 15px;
  overflow: hidden;
}
.headerWrapRight {
  display: flex;
  align-items: center;
}
.headerWrapRightCart {
  position: relative;
  color: $primary;
}
.headerWrapRightCartAmount {
  position: absolute;
  top: -7px;
  right: -5px;
  color: $whiteColor;
  background-color: $primary;
  border-radius: 100%;
  padding: 2px 5px;
  font-size: 12px;
}
.headerWrapRightEllipsis {
  color: $primary;
  margin-left: 25px;
  padding-right: 15px;
}
.imgProduct {
  position: relative;
}
.imgProductWrapMain {
  width: 100%;
}
.imgProductWrapVoucher {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0px;
}
.imgProductWrap p {
  text-align: left;
  font-size: 14px;
  color: $grayColor;
  margin: 10px 0;
  margin-left: 10px;
}
.imgProductWrapSelect {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: nowrap;
}
.imgProductWrapSelect img {
  cursor: pointer;
  width: 7%;
  border-radius: 5px;
  margin: 0 5px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.flashSale {
  background-color: $primary;
  padding: 5px;
  padding-left: 20px;
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.priceWrap {
  background-color: $priceWrap;
  padding: 20px 10px;
  .priceWrapVoucher {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      padding: 10px 10px 0 10px;
      color: $grayColor;
      div {
          color: $primary;
          padding: 2px;
          border: 1px solid $primary;
          font-size: 12px;
      }
  }
  .priceWrapInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .priceWrapMain {
      display: flex;
      align-items: center;
  }
  .heartDiv {
      display: flex;
      align-items: center;
      color: $grayColor;
  }
  .heartDiv span {
      margin-right: 10px;
      color: $textDefault;
      font-size: 14px;
  }
  .priceWrapMainNew {
      display: flex;
      align-items: start;
      color: $primary;
      margin: 0 10px;
  }
  .priceWrapMainNew p {
      font-size: 27px;
  }
  .priceWrapMainNew span {
      font-size: 13px;
  }
  .priceWrapMainOld {
      color: $grayColor;
      display: flex;
      align-items: start;
      text-decoration: line-through;
      margin-right:10px;
  }
  .priceWrapMainOld p {
      font-size: 18px;
  }
  .priceWrapMainOld span {
      font-size: 12px;
  }
}
.titleProduct {
  padding: 15px;
  .titleProductHeart {
      color: $whiteColor;
      background-color: $primary;
      padding: 3px;
      border-radius: 3px;
      font-size: 12px;
      margin-right: 10px;
  }
  .titleProductMain {
      text-align: left;
      font-size: 16px;
      line-height: 20px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      width: 100%;
      overflow: hidden;
  }
}
.shipWrap {
  padding: 15px;
  border-bottom: 1px;
  border-top: 1px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: $borderColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .shipWrapLeft {
      display: flex;
      align-items: start;
  }
  .shipWrapLeftInfo {
      text-align: left;
      line-height: 20px;
      margin-left: 10px;
      font-size: 14px;
  }
  .shipWrapLeftInfo p:first-child {
      font-size: 16px;
  }
}
.shipTimeWrap {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .shipTimeWrapRight {
      color: $grayColor;
  }
  .shipTime {
      display: flex;
      align-items: center;
  }
  .shipTime div {
      margin-left: 10px;
  }
}
.infoShopWrapper {
  background-color: $bgColor;
  padding: 10px 0;
}
.infoShopWrap {
  padding: 15px;
  background-color: $whiteColor;
  .infoShopWrapper {
      display: flex;
      align-items: center;
      background-color: $whiteColor;

      button {
          color: $primary;
          border: 1px solid;
          border-radius: 2px;
          border-color: $primary;
          padding: 7px 14px;
          background-color: transparent;
          cursor: pointer;
      }
  }
  .infoShopWrapperLeft {
      position: relative;
  }
  .infoShopWrapperLeft img {
      width: 60px;
      height: 60px;
      border-radius: 100%;
  }
  .infoShopWrapperLeft span {
      position: absolute;
      bottom: 0;
      left: 1/2%;
      transform: translateX(-100%);
      color: $whiteColor;
      background-color: $primary;
      padding: 3px;
      font-size: 12px;
      width: max-content;
      border-radius: 4px;
  }
}
.infoShopWrapperRight {
  flex: 1;
  text-align: left;
  margin-left: 20px;
  line-height: 20px;
  .infoShopWrapperRightInfo ,.infoShopWrapperRightAddress {
      font-size: 14px;
      color: $grayColor;
  }
  .infoShopWrapperRightAddress {
      display: flex;
      align-items: center;
  }
  .infoShopWrapperRightAddress span {
      margin-left: 5px;
  }
}

.infoSocial {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 0;
  .infoSocialDiv {
      font-size: 13px;
      margin-left: 10px;
  }
  .infoSocialDiv span {
      color: $primary;
      margin-right: 7px ;
  }
}
.infoProductWrapper {
  padding: 15px 0;
  background-color: $whiteColor;
  font-size: 16px;
  .infoProductTitleLeft {
      $whiteColor-space: nowrap;
  }
  .infoProductTitleRight {
      display: flex;
      align-items: center;
      overflow: hidden;
      $whiteColor-space: nowrap;
  }
  .infoProductTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px 10px;
  }
  .infoProductBottom div{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0 ;
      font-size: 18px;
      color: $primary;
  }
  .infoProductDescription {
      padding: 20px;
      border-bottom: 1px;
      border-top: 1px;
      border-right: 0px;
      border-left: 0px;
      border-color:rgba(128, 128, 128, 0.24) ;
      border-style: solid;
  }
  .infoProductDescriptionTitle {
      text-align: left;
      line-height: 30px;
  }
  .infoProductDescriptionMain {
      line-height: 20px;
      $whiteColor-space: pre-wrap;
      overflow-wrap: break-word;
      word-wrap: break-word;
      width: 100%;
      height: 200px;
      overflow: hidden;
  }
}
.feedBackWrap {
  padding: 10px 0;
  background-color:$bgColor ;
  font-size: 16px;
  .feedBackWrapTitle {
      background-color: $whiteColor;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
  }
  .feedBackWrapTitleRight {
      display: flex;
      align-items: center;
      font-size: 14px;
      cursor: pointer;
  }
  .feedBackWrapBottom {
      display: flex;
      align-items: center;
      background-color: $whiteColor;
      justify-content: center;
      padding: 15px 0;
      font-size: 15px;
      color: $primary;
  }
  .feedBackWrapTitleLeftInfo {
      display: flex;
      align-items: center;
      padding: 5px 0;
      font-size: 14px;
  }
  .feedBackWrapTitleLeftTitle {
      text-align: left;
  }
  .feedBackWrapTitleAmountStar {
      margin: 0 10px;
  }
}

.footerContainer {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  .footerDiv {
      flex: 1;
      color: $whiteColor;
      background-color: $buttonMessage;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
          font-size: 12px;
      }
  }
  
  .footerButtonBuy {
      flex: 2;
      background-color: $primary;
      color: $whiteColor;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
}