@use "abstracts/index" as *;

.textItem {
  color: $textDefault;
}

.header {
  height: auto;
  padding: 0px 56px 5px;
  background-color: $primary;
}
.headerTop {
  display: flex;
  justify-content: end;
}
.divTagTop {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  margin: 0px 10px;
}
.divTagTop:hover {
  opacity: 0.9;
}
.divTagTopA:hover {
  text-decoration: none;
  cursor: pointer;
  display: flex;
}
.divTagTopA {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divTagTopIcon {
  width: 18px;
  color: white;
}
.divTagTopATitle {
  font-size: 14px;
  color: white;
  margin: 0px 6px;
}
.headerBottom {
  display: flex;
  margin: 10px 40px 0 40px;
  align-items: center;
}
.headerBottomLeft {
  width: 60%;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  overflow: hidden;
}
.headerBottomLogo {
  width: 20%;
  display: flex;
  align-items: start;
}
.headerBottomLogoDiv {
  height: 90px;
  width: 170px;
  fill: #fff;
}

.headerBottomRight {
  width: 20%;
}
.divInput {
  width: 100%;
  position: relative;
}
.input {
  width: 100%;
  padding: 15px;
  font-size: 15px;
  border-radius: 2px;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.inputIcon {
  padding: 8px 20px;
  background-color: red;
  cursor: pointer;
  width: 20px;
  border-radius: 2px;
  position: absolute;
  top: 3px;
  right: 5px;
  color: white;
}
.list {
  margin: 9px 15px 12px 0px;
  list-style: none;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
.list a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}
.headerBottomRightIcon {
  color: white;
  cursor: pointer;
  width: 80px;
}

.contaiter {
  height: auto;
  padding: 20px 56px;
}
.divItem {
  box-sizing: border-box;
  height: max-content;
  border: 1px solid transparent;
  width: 100%;
  border-radius: 2px;
  transition-duration: 100ms;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.divItemWrapper:hover .divItemHover {
  display: block;
  z-index: 2;
}

.divItemHover {
  position: absolute;
  display: none;
  transform: translateY(100%);
  bottom: 0;
  color: white;
  width: 100%;
  padding: 5px 0px;
  background-color: rgb(247, 103, 47);
  font-size: 13px;
  box-sizing: border-box;
  cursor: pointer;
}

.divItemWrapper {
  padding: 0 7px;
  width: 16.6%;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
}
.divItemWrapperHover {
  position: relative;
}
.divImg {
  width: 100%;
  position: relative;
  border-radius: 2px;
  cursor: pointer;
}
.divItem:hover {
  border: 1px solid red;
  cursor: pointer;
  border-radius: 2px;
}
.img {
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.divItemSaleOff {
  position: absolute;
  color: red;
  padding: 2px;
  background-color: rgb(245, 185, 185);
  top: 2px;
  right: 3px;
  font-size: 12px;
}
.logoVoucher {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 4px;
}
.divItemTitle {
  font-size: 13px;
  text-align: left;
  padding: 4px 10px 0 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.voucher {
  color: white;
  padding: 2px 4px;
  background-color: rgb(248, 177, 46);
  width: fit-content;
  font-size: 12px;
  margin: 10px 0px 10px 10px;
}
.voucherHidden {
  color: white;
  padding: 2px 4px;
  width: fit-content;
  font-size: 12px;
  background-color: rgb(248, 177, 46);
  margin: 10px 0px 10px 10px;
  visibility: hidden;
}
.price {
  color: red;
  text-align: left;
  font-size: 14px;
  margin-left: 10px;
  padding: 10px 0;
}
.headerWrapper {
  display: flex;
  flex-wrap: wrap;
}
.iconPrice {
  font-size: 12px;
  margin-right: 5px;
}
// detailProducts

.detailProductContainer {
  margin: 20px 64px;
  padding: 20px;
  display: flex;
  justify-content: start;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.detailProductLeft {
  width: 40%;
}

.detailProductRight {
  width: 60%;
  padding-left: 20px;
}
.detailProductLeftImg {
  width: 100%;
}
.detailProductLeftSmall {
  display: flex;
}
.detailProductLeftSmall img {
  width: 20%;
  margin: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.detailProductLeftSmall img:hover {
  border: 1px solid rgb(241, 74, 74);
}

.detailProductLeftBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 0 20px;
  font-size: 15px;
}
.detailProductLeftBottomFavourite {
  display: flex;
  align-items: center;
}
.detailProductLeftBottomFavourite span {
  margin-left: 10px;
}
.detailProductLeftBottomShareIcon {
  background-position: "0 -100%";
  background-color: initial;
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/12f585f9c56d4f30.png);
  background-size: 100%;
  border: 0;
  height: 25px;
  margin-left: 5px;
  outline: 0;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 25px;
}
.detailProductLeftBottomShareIcon2 {
  background-color: initial;
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/12f585f9c56d4f30.png);
  background-size: 100%;
  border: 0;
  height: 25px;
  margin-left: 5px;
  outline: 0;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 25px;
}
.detailProductLeftBottomShareIcon3 {
  background-position: "0 -300%";
  background-color: initial;
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/12f585f9c56d4f30.png);
  background-size: 100%;
  border: 0;
  height: 25px;
  margin-left: 5px;
  outline: 0;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 25px;
}
.detailProductLeftBottomShareIcon4 {
  background-position: "0 -400%";
  background-color: initial;
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/12f585f9c56d4f30.png);
  background-size: 100%;
  border: 0;
  height: 25px;
  margin-left: 5px;
  outline: 0;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 25px;
}
.detailProductLeftBottomShare {
  display: flex;
  align-items: center;
}
.detailProductRightTitleProduct {
  font-size: 18px;
  text-align: left;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.detailProductRightInfomation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  font-size: 15px;
}
.detailProductRightInfomationLeft {
  display: flex;
}
.detailProductFeedback {
  display: flex;
  margin: 0 10px;
  border-right-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-color: gray;
  border-style: solid;
  padding-right: 10px;
}
.detailProductFeedback p {
  margin: 0;
  color: gray;
  margin-left: 5px;
}
.detailProductSaler {
  display: flex;
  margin: 0 10px;
}
.detailProductSaler p {
  margin: 0;
  color: gray;
  margin-left: 5px;
}
.detailProductStars {
  display: flex;
  align-items: center;
  margin: 0 10px;
  border-right-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-color: gray;
  border-style: solid;
  padding-right: 10px;
}
.detailProductStars span {
  margin-right: 10px;
  text-decoration: underline;
}
.detailProductRightInfomationRight {
  color: gray;
}
.detailProductStar {
  display: flex;
  align-items: center;
}
.detailProductPrice {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  padding: 30px;
  font-size: 28px;
  color: #ff3d00;
  margin-bottom: 40px;
}

.detailProductPriceNew {
  display: flex;
  align-items: start;
}
.detailProductPriceNew span {
  font-size: 15px;
}
.detailProductPriceOld {
  display: flex;
  align-items: start;
  color: gray;
  font-size: 20px;
  text-decoration: line-through;
  margin: 0 20px;
}
.detailProductPriceOld span {
  font-size: 15px;
 
}
.detailProductPriceDiscount {
  background-color: #ffede9;
  padding: 4px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  
}
.detailProductTitle {
  font-size: 14px;
  padding-left: 40px;
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.detailProductTitleShip {
  font-size: 14px;
  padding-left: 40px;
  margin: 20px 0;
  display: flex;
  align-items: start;
}
.detailProductRightTitle {
  color: gray;
  font-size: 14px;
  margin-right: 20px;
  max-width: 100px;
  letter-spacing: 0em;
}
.detailProductVoucherdetail {
    color: #ff3d00;
    background-color: #ffede9;
    padding: 4px 6px;
    font-size: 13px;
    margin: 0 10px ;
    position: relative;
}
.detailProductVoucherdetail::before {
  background-image: radial-gradient(#fff 2px, transparent 0);
  background-position-x: -6px;
  background-size: 6px 6px;
  content: "";
  height: calc(100% - 5px);
  position: absolute;
  top: 2.5px;
  width: 6px;
  left: -3px;
}
.detailProductVoucherdetail::after {
  background-image: radial-gradient(#fff 2px, transparent 0);
  background-position-x: -6px;
  background-size: 6px 6px;
  content: "";
  height: calc(100% - 5px);
  position: absolute;
  top: 2.5px;
  width: 6px;
  right:-3px;
}
.detailProductRefund img {
  width: 20px;
  margin-right:5px;
}
.detailProductRefund {
  display: flex;
  align-items: center;
  color: gray;
}
.detailProductRefundFreeIcon {
  display: flex;
  align-items: center;
  margin: 0 5px;
}
.detailProductRefundFree {
  color: gray;
  margin-left: 10px;
}
.detailProductRightVoucher {
  color: #ff3d00;
  padding: 4px;
  border: 1px solid #ff3d00 ;
  font-size: 13px;
  cursor: pointer;
}
.detailProductShipTop {
  display: flex;
  align-items: center;
}

.detailProductShipTop img {
  width: 25px;
  margin-right: 10px;
}
.detailProductShipTop span {
  font-size: 13px;
}
.detailProductShipBottom {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 13px;
}
.detailProductShipBottom img {
  width: 20px;
  margin-right: 15px;
}
.detailProductShipBottom span {
  margin-right: 10px;
}

.detailProductShipBottom  select {
  outline: none;
  border: none;
}
.detailProductShipBot {
  text-align: left;
  font-size: 13px;
}
.detailProductShipBot span {
  margin-left: 35px;
  margin-right: 10px;
}
.detailProductShipBot select {
  outline: none;
  border: none;
  letter-spacing: 1px;
}

.detailProductAmount {
  color: gray;
  font-size: 13px;
  margin: 0px 20px;
}
.detailProductDivAmount {
  display: flex;
  align-items: center;
}
.detailProductDivAmount button{
  width: 32px;
  height: 32px;
  outline: none;  
  padding: 0px 10px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(0, 0, 0, .09);
  cursor: pointer;
}
.detailProductDivAmount input {
  width: 50px;
  height: 30px;
  padding: 0px ;
  border: 1px solid rgba(0, 0, 0, .09);;
  text-align: center  ;
  outline: none;
}

.detailProductTitleButton {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 40px;
  margin-top: 50px;
}
.detailProductTitleButtonRightTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 2px;
  cursor: pointer;
  color: #ff3d00;
  border: 1px solid #ff3d00;
  background-color: rgba(255, 87, 34, .1);
  margin-right: 10px;
  font-size: 14px;
}
.detailProductTitleButtonRightTitle img {
  width: 20px;
  margin-right: 10px;
}
.detailProductBuy {
  padding: 10px 50px;
  border-radius: 2px;
  background-color: #ff3d00;
  color: white;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}