@use "abstracts/index" as *;

.textItem {
  color: $textDefault;
}

.header {
  height: auto;
  padding: 0px 56px 5px;
  background-color: $primary;
  z-index: 3;
  position: sticky;
  top: 0px;
}
.headerTop {
  display: flex;
  justify-content: end;
  padding-top: 5px;
}
.divTagTop {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: $whiteColor;
  margin: 0px 10px;
}
.divTagTop:hover {
  opacity: 0.9;
}
.divProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: $whiteColor;
  margin: 0px 10px;
  position: relative;
  z-index: 12;
}
.divProfileInfo {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: $whiteColor;
  border-radius: 2px;
  color: $textDefault;
  width: max-content;
  padding: 0px 20px;
  z-index: 20;
  transition-duration: 400ms;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  ul {
    list-style: none;
    padding: 0px;
    margin: 0;
    font-size: 16px;
    li {
      margin: 15px 0;
      cursor: pointer;
      transition-duration: 300ms;
      a {
        text-decoration: none;
        color: $textDefault;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
.divProfileInfo::after {
  content: "";
  position: absolute;
  top: -22px;
  right: 10px;
  z-index: 20;
  border-color: transparent transparent $whiteColor transparent;
  border-style: solid;
  border-width: 13px;
}
.divProfile:hover .divProfileInfo {
  display: block;
}
.divProfileOverHidden {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 150px;
  height: 50px;
}
.divTagTopA:hover {
  text-decoration: none;
  cursor: pointer;
  display: flex;
}
.divTagTopProfile:hover {
  text-decoration: none;
  cursor: pointer;
  display: flex;
}

.imageProfile {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.divTagTopA {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 400ms;
  z-index: 20;
}
.divTagTopProfile {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 400ms;
  z-index: 20;
  line-height: 20px;
  position: relative;
}
// .divTagTopProfile::after {
//   content: "";
//   position: absolute;
//   top: -30px;
//   right: 0px;
//   width: 100px;
//   height: 100px;
// }

.divTagTopIcon {
  width: 18px;
  color: $whiteColor;
}
.divTagTopATitle {
  font-size: 14px;
  color: $whiteColor;
  margin: 0px 6px;
}
.divTagTopATitleUser {
  font-size: 14px;
  color: $whiteColor;
  margin: 0px 6px;
  overflow: hidden;
  max-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.headerBottom {
  display: flex;
  margin: 10px 40px 0 40px;
  align-items: center;
}
.headerBottomLeft {
  width: 60%;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.headerBottomLogo {
  width: 20%;
  display: flex;
  align-items: start;
  cursor: pointer;
}
.headerBottomLogoDiv {
  height: 90px;
  width: 170px;
  fill: $whiteColor;
  margin-right: 20px;
}

.headerBottomRight {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
}
.headerBottomRightDivImg {
  display: none;
}
.divInput {
  width: 100%;
  position: relative;
}
.input {
  width: 100%;
  padding: 15px;
  font-size: 15px;
  border-radius: 2px;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.inputIcon {
  padding: 8px 20px;
  background-color: $primary;
  cursor: pointer;
  width: 20px;
  border-radius: 2px;
  position: absolute;
  top: 3px;
  right: 5px;
  color: $whiteColor;
}
.inputIcon:hover {
  opacity: 0.8;
}
.DivList {
  display: flex;
  overflow: hidden;
}

.list {
  margin: 9px 15px 7px 0px;
  list-style: none;
  font-size: 14px;
  color: $whiteColor;
  cursor: pointer;
}
.list a {
  color: $whiteColor;
  cursor: pointer;
  text-decoration: none;
  $whiteColor-space: nowrap;
}
.list a:hover {
  text-decoration: underline;
}
.headerBottomRightIcon {
  color: $whiteColor;
  cursor: pointer;
}
.headerBottomRightIconDiv {
  width: min-content;
  position: relative;
  z-index: 10;
}

.headerBottomRightIconDivCount {
  position: absolute;
  top: -10px;
  right: -10px;
  color: $primary;
  background-color: $whiteColor;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 14px;
}

.divInputSearchWrap {
  position: absolute;
  top: calc(100% + 2px);
  z-index: 10;
  width: 100%;
  padding: 0 10px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  .divInputSearch {
    margin: 0;
    padding: 0;
    height: auto;
    max-height: 400px;
    list-style: none;
    overflow-y: auto;
    li {
      text-align: left;
      padding: 10px 0;
      font-size: 14px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    li:hover {
      color: #ff3d00;
      transition-duration: 300ms;
    }
  }
}

@media (max-width: 1024px) {
  .headerBottomLogoDiv {
    height: 100%;
    margin-right: 34px;
    width: 170px;
    fill: $whiteColor;
  }
  .divTagTopATitle {
    font-size: 12px;
  }
  .divTagTopIcon {
    width: 14px;
  }
  .headerBottomRightIcon {
    width: 23px;
  }
  .headerBottomRightIconDivCount {
    top: -3px;
    font-size: 12px;
  }
  .input {
    padding: 9px;
    font-size: 12px;
  }
  .list a {
    font-size: 11px;
  }
  .inputIcon {
    padding: 1px 15px;
    width: 15px;
  }
  .header {
    padding: 0px 0px 5px;
  }
}

@media (max-width: 800px) {
  .header {
    max-width: 50rem;
  }
  .headerTop,
  .headerBottomLogo,
  .DivList {
    display: none;
  }
  .headerBottom {
    padding: 7px 0 5px 0;
    margin: 0px 20px 0 20px;
  }
  .headerBottomRight {
    width: 7%;
  }
  .headerBottomRightDivImg {
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerBottomRightImg {
    width: 22px;
    height: 22px;
    border-radius: 100%;
  }
  .headerBottomLeft {
    margin-right: 20px;
  }
  .input {
    font-size: 15px;
  }
}
