@use "abstracts/index" as *;

.textItem {
  color: $textDefault;
}

.header {
  height: auto;
  padding: 0px 56px 5px;
  background-color: $primary;
  z-index: 10;
  position: sticky;
  top: 0px;
}
.headerTop {
  display: flex;
  justify-content: end;
}
.divTagTop {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: $whiteColor;
  margin: 0px 10px;
}
.divTagTop:hover {
  opacity: 0.9;
}
.divTagTopA:hover {
  text-decoration: none;
  cursor: pointer;
  display: flex;
}
.divTagTopA {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divTagTopIcon {
  width: 18px;
  color: $whiteColor;
}
.divTagTopATitle {
  font-size: 14px;
  color: $whiteColor;
  margin: 0px 6px;
}
.headerBottom {
  display: flex;
  margin: 10px 40px 0 40px;
  align-items: center;
}
.headerBottomLeft {
  width: 60%;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  overflow: hidden;
}
.headerBottomLogo {
  width: 20%;
  display: flex;
  align-items: start;
  cursor: pointer;
}
.headerBottomLogoDiv {
  height: 90px;
  width: 170px;
  fill: $whiteColor;
  margin-right: 20px;
}

.headerBottomRight {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
}
.headerBottomRightDivImg {
  display: none;
}
.divInput {
  width: 100%;
  position: relative;
}
.input {
  width: 100%;
  padding: 15px;
  font-size: 15px;
  border-radius: 2px;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.inputIcon {
  padding: 8px 20px;
  background-color: $redColor;
  cursor: pointer;
  width: 20px;
  border-radius: 2px;
  position: absolute;
  top: 3px;
  right: 5px;
  color: $whiteColor;
}
.DivList {
  display: flex;
}

.list {
  margin: 9px 15px 7px 0px;
  list-style: none;
  font-size: 14px;
  color: $whiteColor;
  cursor: pointer;
}
.list a {
  color: $whiteColor;
  cursor: pointer;
  text-decoration: none;
  $whiteColor-space: nowrap;
}
.list a:hover {
  text-decoration: underline;
}
.headerBottomRightIcon {
  color: $whiteColor;
  cursor: pointer;  
}
.headerBottomRightIconDiv {
  width: min-content;
  position: relative;
}

.headerBottomRightIconDivCount {
  position: absolute;
  top: -10px;
  right: -10px;
  color: $primary;
  background-color: $whiteColor;
  padding: 2px 6px ;
  border-radius: 50%;
  font-size: 14px;
}


@media (max-width: 1024px) {
  .headerBottomLogoDiv {
    height: 100%;
    margin-right: 34px;
    width: 170px;
    fill: $whiteColor;
  }
  .divTagTopATitle {
    font-size: 12px;
  }
  .divTagTopIcon {
    width: 14px;
  }
  .headerBottomRightIcon {
    width: 23px;
  }
  .headerBottomRightIconDivCount {
    top: -3px;
    font-size: 12px;
  }
  .input  {
    padding: 9px;
    font-size: 12px;
  }
  .list a {
    font-size: 11px;

  }
  .inputIcon {
    padding: 1px 15px;
    width: 15px;

  }
  .header {
    padding: 0px 0px 5px;
  }
}


@media (max-width: 800px) {
  .header {
    max-width: 50rem;
  }
  .headerTop , .headerBottomLogo , .DivList {
    display: none;
  }
  .headerBottom {
      padding: 7px 0 5px 0;
      margin: 0px 20px 0 20px;
  }
  .headerBottomRight {
    width: 7%;
  }
  .headerBottomRightDivImg {
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerBottomRightImg {
    width: 22px;
    height: 22px;
    border-radius: 100%;
  }
  .headerBottomLeft {
    margin-right: 20px;
  }
  .input {
    font-size: 15px;
  }
}
